@import '../../../styles/breakpoint';
@import '../../../styles/colors';
@import '../../../styles/typography';

.Details {
  width: 100%;

  @include md {
    max-width: 69.16%;
    margin: 72px auto 40px;
  }

  &_part_info {
    padding: 16px;

    @include md {
      padding: unset;
      margin-bottom: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & > p {
      font-family: var(--gTAmericaMono-font);
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.36px;
      text-transform: uppercase;
      margin-top: 32px;

      @include md {
        margin-top: unset;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0.42px;
      }
    }
  }

  &_title {
    padding: 16px;
    margin-bottom: 31px;

    @include md {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    & > h1 {
      font-weight: 400;
      font-size: 49px;
      line-height: 54px;
      letter-spacing: -0.686px;
      margin-bottom: 33px;

      @include md {
        font-size: 79px;
        line-height: 82px;
        letter-spacing: -1.106px;
        margin-bottom: unset;
      }
    }

    & > div {
      margin-bottom: 15px;
      justify-content: space-between;

      &,
      & > div {
        display: flex;
        align-items: center;
      }

      & > p {
        font-family: var(--gTAmericaMono-font);
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.36px;

        @include md {
          display: none;
        }
      }

      a {
        display: block;
        width: 24px;
        height: 24px;

        & > svg {
          width: 100%;
          height: 100%;
        }

        &:not(:last-of-type) {
          margin-right: 8px;
        }
      }
    }
  }

  &_featured_image {
    width: 100%;
    height: max-content;

    & > img {
      width: 100% !important;
      object-fit: cover;
    }
  }
}
