@import '../../../styles/breakpoint';
@import '../../../styles/colors';
@import '../../../styles/typography';

.BookChapterList {
  &_header {
    padding: 48px 72px 48px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $black-1;

    & > * {
      font-family: var(--gTAmericaMono-font);
      text-transform: uppercase;
    }

    & > p {
      font-size: 14px;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0.42px;
    }
  }
}

.Book {
  &_part {
    &_title {
      display: flex;
      align-items: center;
      width: max-content;
    }
  }
}
