@import '../../styles/colors';
@import '../../styles/breakpoint';

.Button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: $text-color;
  font-style: normal;
  line-height: 22px;
  font-size: 12px;
  letter-spacing: 0.36px;
  text-align: center;
  width: max-content;

  @include md {
    line-height: 15px;
    font-size: 14px;
    letter-spacing: 0.42px;
  }

  &_primary {
    background-color: $black-1;
    padding: 20px 18px;
    color: $white-1;
    font-weight: 500;
  }

  &_link {
    color: #376d4d;
    text-decoration-line: underline;
    font-weight: 700;
  }
}
